body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-color: rgb(255, 255, 143);
}

h1 {
    /* text-align: center; */
} 
.header{
    position: relative;
    top: 65px;
    left:50%;
    right: 50%;
    transform: prespective(1000px) translate(-50%,-50%);
    transition:0.5s;
}
.header:hover{
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(0deg);
}
.header h1 span{
    position: absolute;
    top:0;
    left:0;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    text-transform: uppercase;
    font-size: 6em;
    color: lightskyblue;
    transform-style:preserve-3d;
    transition:0.8s;
}
.header:hover h1 span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
.header:hover h1 span:nth-child(2){
    color:white;
    transform:translate(-50%,-50%) skewX(-60deg);
    left:-38px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}
.header:hover h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewY(0deg);
    left:-76px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}
.header h1 span:nth-child(2), 
.header h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewX(0deg);
    left:0;
    color: lightskyblue;
}

.motto {
    margin-top: 200px;
}

.rules {
    color: red;
    border: solid red 5px;
    border-radius: 10px;   
}


h2 {
    text-align: center;
    font-size: xx-large;
}


h3 {
    text-align: center;
}

h4 {
    /* text-align: center; */
    border: solid red 5px;
    border-radius: 10px;
    padding-left: 30%;
}


.footer {
    position: absolute;
    margin-top: 100px;
    background-color: #32CD32; 
    color: white; 
    padding: 0rem;
    width: 100%;
}
.container-foot {
    max-width: 1140px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-md-4 {
    text-align: center;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0.75rem;
}
.row-mt-3 {
    text-align: center;
}
.text-center {
    text-align: center;
}
.foot {
    list-style-type: none;
    padding-left: 0;
}
.foot li {
    margin-bottom: 0.5rem;
}
.foot a {
    color: white;
    text-decoration: none;
}
.foot a:hover {
    text-decoration: underline;
    font-size: larger;
}


.navbar {
    background-color: #32CD32;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .navbar-brand img {
    width: 100px;
    border-radius: 20px;
} */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}
.nav-links a:hover {
    text-decoration: underline;
    font-size: xx-large;
}