h1 {
    text-align: center;
}

body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:#000;
    overflow:hidden;
}
  
.header{
    position: absolute;
    top:10%;
    left:50%;
    transform:prespective(1000px) translate(-50%,-50%);
    transition:0.5s;
}
  
.header:hover{
    transform:prespective(1000px) translate(-50%,-50%);
    transform:skewY(0deg);
}
  
.header h1 span{
    position:absolute;
    top:0;
    left:0;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size: 7em;
    color:green;
    transform-style:preserve-3d;
    transition:0.8s;
}
.header:hover h1 span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
  
.header:hover h1 span:nth-child(2){
    color:white;
    transform:translate(-50%,-50%) skewX(-60deg);
    left:-38px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}
  
.header:hover h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewY(0deg);
    left:-76px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}
  
.header h1 span:nth-child(2), 
.header h1 span:nth-child(3){
    transform:translate(-50%,-50%) skewX(0deg);
    left:0;
    color:green;
}

h2 {
    text-align: center;
    margin-top: 22%;
    font-size: xx-large;
}

h3 {
    text-align: center;
}



