body {
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #7EE8FA;
}


.navbar {
    background-color: #32CD32;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .navbar-brand img {
    width: 100px;
    border-radius: 20px;
} */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}
.nav-links a:hover {
    font-size: xx-large;
    color: #FFF07C;
}

h1 {
    /* text-align: center;*/
} 
.header{
    text-align: center;
    color: #FFF07C;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: -3%;
}
/* .header:hover{
    font-size: 5em;
} */

.motto {
    margin-top: -4%;
}

.rules {
    color: red;  
    text-align: center;
    margin-top: auto;
}


h2 {
    text-align: center;
    font-size: xx-large;
    margin-top: auto;
    margin-bottom: auto;
}


h3 {
    text-align: center;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: red;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 50%;
    border: solid 5px;
    border-radius: 20px;
    margin: auto;
}

.intro-button {
    background-color: #32CD32;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border: solid black 5px;
    border-radius: 5px;
    height: 3em;
    width: 15%;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.intro-button:hover {
    font-size: larger;
    color: #FFF07C;
}

.footer {
    position: absolute;
    /* margin-top: 100px; */
    background-color: #32CD32; 
    color: white; 
    padding: 0rem;
    width: 100%;
}
.container-foot {
    max-width: 1140px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-md-4 {
    text-align: center;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0.75rem;
}
.row-mt-3 {
    text-align: center;
}
.text-center {
    text-align: center;
}
.foot {
    list-style-type: none;
    padding-left: 0;
}
.foot li {
    margin-bottom: 0.5rem;
}
.foot a {
    color: white;
    text-decoration: none;
}
.foot a:hover {
    text-decoration: underline;
    font-size: larger;
    color: #FFF07C;
}


